Q1.How do you comment Code in Python? What are the different types of comment?

In [19]:
#Answer
#Mostly two types of comments are used singleline or multiline comments


#we use (#) symbol to comment anything like we are doing in this answer
#this is a singleline comment

#we use """" for multiline comments although it is a string but it is ignored since it is not assigned to variable
"""these are
multiline comments"""

'these are\nmultiline comments'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [17]:
#Answer
#Varibles are a way to store any data type values inside the variable
#to declare a variable we name the variable and equate it to some value this assigns the value to the variable
#exmaple:
age = 23
age

23

Q3. How do you convert one data type to another in python?

In [15]:
#answer
#We use Typecasting 
#age is of type int
age = 32

#to typecast to string we use str(age) 
tostring = str(age)
type(tostring)

str

Q4. How do you write and execute a Python script from the command line?

In [20]:
#Answer
#To execute and run a python file named filename.py from command line
#we enter the below command in terminal
#python filename.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [19]:
#answer
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [25]:
#answer
#complex numbers are numbers that are having real and imaginary numbers
#they are represented by (real +  img * j ) where j denotes the imaginary number
type(2+1j)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [41]:
#answer

#varibale should not have space in between them 
#variable can contain underscore, alphabets and numbers
#reserved words should not be used as variables
#cannot start with a number but can end with number
#no special characters allowed

age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [26]:
#answer
#datatype belongs to float
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [5]:
#answer
name = "Anup Kumar Purty"
print(name)

Anup Kumar Purty

Q10. Given the string "Hello, World!", extract the substring "World".

In [36]:
#answer
str = "Hello, World!"
str[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [37]:
#answer
is_student = True
print(is_student)

True