Q1. Create one variable containing following type of data: 
1.string
2.list
3.float
4.tuple

In [11]:
Answers Q1:
#string
Name = "1ststring"
#list
Student = ["Anup", "Jonko","Avinash"]
#float
pi_value = 3.14
#tuple
done = ("student", 21, "bro")

In [21]:
print(Name, Student,pi_value,done)

1ststring ['Anup', 'Jonko', 'Avinash'] 3.14 ('student', 21, 'bro')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = ['DS', 'ML', 'Pyhton']
(iv) var4 = 1.
What will be the data type of the above given variables

Answers Q2: 
1. string
2. String
3. List
4. int

Q3. Explain the use of the following operations usinig an example
1./
2.%
3.//
4.**

In [27]:
#Answers Q3:
#1. / is used for diving two numbers
div = 100 / 4
#2. % also called as modulus, is used for taking out remainders
rem = 3 % 3
#3. // is as for in division
mul = 18//9
#4. ** is used for powers
po = 3**2

In [28]:
print(div, rem, mul,po)

25.0 0 2 9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [30]:
#AnswerQ4:
mine_list = ['book', 'guitar', 'piano', 12.00 , '22M', 'finance', 'Curious', 2023, "MAy17", '2AM']

In [66]:
for i in mine_list:
    print(i,type(i))

book <class 'str'>
guitar <class 'str'>
piano <class 'str'>
12.0 <class 'float'>
22M <class 'str'>
finance <class 'str'>
Curious <class 'str'>
2023 <class 'int'>
MAy17 <class 'str'>
2AM <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [71]:
A = int(input('A: '))
B = int(input('B: '))
while(A % B == 0):
    print("Yes it is divisible by B", "it is divisible by b by ", A/B ,"times")
    break
else:
        print("NO")

A: 24
B: 12
Yes it is divisible by B it is divisible by b by  2.0 times

In [40]:
12/4

3.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [51]:
#AnswerQ6
datas = [1,2,3,4,5,6,7,8,9,0,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in datas:
    if(i % 3 == 0 or i % 3 == 0):
        print(i,'is divisible by 3')
    else:
        print(i,'not divisible by 3')

1 not divisible by 3
2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
0 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3
25 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [52]:
#AnswerQ7 
#Mutable data types are data types that can modified by accessing it through it's index. Exaamples : List.
stud = ['Anup', 'Goat', 'Baker']
#Immutable data types are data types that cannot be modified through index, and it actually copies object data, then assigns new value and the assigns it to previous, Example : string
name = 'Anup'

In [53]:
stud

['Anup', 'Goat', 'Baker']

In [55]:
stud[2] = 'Biryani'

In [56]:
stud #it is mutable

['Anup', 'Goat', 'Biryani']

In [58]:
name[3]

'p'

In [59]:
name[3] = 'j' #example, it is not immutable

TypeError: 'str' object does not support item assignment

In [ ]:
#the error code above shown is intentional, to showcase that immutable objects cannot be changed